#myForm div {
    margin-bottom: 5px;
}

#myForm input {
    width: 250px;
}

#resultContainer {
    margin-top: 10px;
    padding: 5px;
    min-height: 50px;
}

.error {
    border: 1px solid red;
}

.success {
    border: 1px solid green;
}

.progress {
    border: 1px solid gray;
}